<header class ="header-navbar">
  <div class ="header-container">
    <%= link_to t(".quiz"),root_path , id:"logo" %>
    <nav>
      <ul class ="nav navbar-right header-menu">
        <li><%= link_to t(".home"), root_path %></li>
        <li><%= link_to t(".help"), help_path %></li>
        <li><%= link_to t(".about"), about_path %></li>
        <li><%= link_to t(".contact"), Settings._footer.linkf3 %></li>
        <% if logged_in? %>
          <li><%= link_to t(".user"), '#' %></li>
          <li class="header-dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= t ".account" %> <b class="caret"></b>
            </a>
            <ul class="header-dropdown-menu">
              <li><%= link_to t(".profile"), current_user %></li>
              <li><%= link_to t(".setting"), '#' %></li>
              <li>
                <%= link_to t(".log"), logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to t(".login"), login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
